<li>
  <%= link_to image_tag(stadium.image_url , alt: stadium.name, size: 50), stadium %>
  <ul class="span8">
  	<li><b>Name:</b> <%= link_to stadium.name, stadium %></li>
    <li><b>City:</b> <%= stadium.city %></li>
    <li><b>Owner Club:</b><%= stadium.owner_club %></li>
    <% if !stadium.status %>
    <li><b>Status:</b> Available</li>
    <% else %>
    <li><b>Status:</b> Occupied</li>
    <% end %>
  </ul>
</li>      