<% provide(:title, 'Stadiums') %>
<h1>Stadiums</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @stadia %>
</ul>

<%= will_paginate %>

<% if admin_user? %>

	<%= link_to 'New Stadium', new_stadium_path %>
	
<% end %>
