<li>
  <ul class="span4">
  	<li><%= image_tag(team.flag_url, alt: team.flag_url, size: "50x100") %></li>
  	<li><b>Country: </b><%= link_to team.name, team%>
    <li><b>Titles:</b> <%= team.titles %></li>
  </ul>
</li>    