<li>
  <ul class="span4">
  	<li><%= image_tag(Country.find_by_id(team.country_id).flag_url, alt: Country.find_by_id(team.country_id).name, size: "50x100") %></li>
  	<li><b>Country: </b><%= link_to Country.find_by_id(team.country_id).name, team%>
    <li><b>Titles:</b> <%= team.titles %></li>
  </ul>
</li>    