<% provide(:title, 'Teams') %>
<h1>Teams</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @teams %>
</ul>

<%= will_paginate %>

<% if current_user.admin? %>

	<%= link_to 'New Team', new_team_path %>
	
<% end %>
