<% provide(:title, 'Countries') %>
<h1>Countries</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @countries %>
</ul>

<%= will_paginate %>

<% if current_user.admin? %>

	<%= link_to 'New Country', new_country_path %>
	
<% end %>
