<% provide(:title, 'Countries') %>
<h1>Countries</h1>

<%= will_paginate %>

<%= render @countries %>

<%= will_paginate %>

<% if admin_user? %>

	<%= link_to 'New Country', new_country_path %>
	
<% end %>
