<footer class="footer">
  <small>
    <a href="">Pitz</a>
    by J.C. & X.V.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="">FIFA 2014</a></li>
    </ul>
  </nav>
</footer>
